@import "../../App.scss";

.loader{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 50;
    background: var(--white);
    // display: none;
    span{
        i{
            background: var(--yellow);
        }
    }
}
.loadNot{
    display: none;
}