@import "../../App.scss";

.telegram {
  //   background: url(../../Images/img5.jpg) no-repeat center center no-repeat;
  // background: var(--yellow);
  background-image: linear-gradient(
    to right,
    #96267d,
    #d5605a,
    #d4c438,
    #8dbc64,
    #38ad9c
  );
  background-size: cover;
  .t-bg {
    padding: rem(70) 0;
    background: rgba(255, 255, 255, 0.7);
    .t-card {
      // width: 100%;
      padding: rem(30);
      border-radius: rem(60);
      width: rem(1000);
      background: rgba(0, 0, 0, 0.9);
      p {
        font-size: rem(20);
        margin: 0;
        font-weight: 400;
        color: var(--white);
      }
      h2 {
        color: var(--white);
        margin: 0;
        font-weight: bold;
        font-size: rem(42);
        svg {
          margin-left: rem(10);
          width: rem(30);
          height: rem(30);
          color: var(--blue);
        }
      }
      button {
        color: var(--blue);
        border-radius: rem(50);
        border-width: rem(3);
        font-weight: bold;
        height: rem(50);
        background-color: var(--white);
        border-color: var(--blue);
      }
    }
  }
}
.client {
  padding: rem(50) 0;
  .client-title {
    width: 100%;
    text-align: center;
    // margin-bottom: rem(75);
    h5 {
      color: var(--yellowText);
      text-decoration-line: underline;
    }
    h1 {
      font-weight: bold;
      font-size: rem(46);
      color: var(--black);
    }
  }
  .client-info {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: rem(30);
    p {
      width: 70%;
      text-align: left;
      padding-left: rem(20);
      border-left: rem(3) solid var(--bnf);
      color: var(--contactText);
    }
  }
  .client-logos {
    .clientImg {
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem(200);
      height: rem(200);
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
