@import "../../App.scss";
$breakPointMobile: 600px;

@media only screen and (max-width: $breakPointMobile) {
  .telegram {
    .t-bg {
      padding: rem(30) 0 !important;
      .t-card {
        display: flex;
        flex-direction: column;
        text-align: center;
        p {
          display: none;
        }
        h2 {
          font-size: rem(24) !important;
          margin-bottom: rem(20) !important;
        }
      }
    }
  }
  .client {
    .client-title {
      h5 {
        font-size: rem(16);
      }
      h1 {
        font-size: rem(36);
      }
    }
    .client-info{
      p{
        width: 100% !important;
      }
    }
    .client-logos {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .contact {
    padding: rem(50) rem(10) rem(30) rem(10);
    h2 {
      font-size: rem(36);
    }
    .contact-info,
    .contact-link {
      padding-bottom: rem(30);
      a {
        width: max-content;
      }
    }
  }
}
