@import "../../App.scss";
$breakPointMobile: 600px;

@media only screen and (max-width: $breakPointMobile) {
  .service {
    .servic-title {
      h5 {
        font-size: rem(16);
      }
      h1 {
        font-size: rem(36);
        margin-bottom: 0;
      }
    }
  }
}
