@import "../../App.scss";

.service {
  padding: rem(50) 0;
  .servic-title {
    width: 100%;
    text-align: center;
    h5 {
      color: var(--yellowText);
      text-decoration-line: underline;
    }
    h1 {
      font-weight: bold;
      font-size: rem(46);
      color: var(--black);
    }
  }
  .servic-card {
    display: flex;
    justify-content: space-between;
    margin: rem(30) 0 0 0;
    .servic-item {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      padding: rem(20) rem(30);
      // background: var(--bnfText);
      background: transparent;
      margin: rem(20);
      height: rem(450);
      // height: auto;
      transition: 0.3s ease-in-out;
      // border: rem(1) solid transparent;
      background: var(--serviceBg);
      // border: rem(1) solid var(--yellow);
      &:nth-child(even) {
        background: var(--white);
        // border: rem(1) solid var(--bnfText);
      }
      &:hover {
        // background: var(--white);
        // background: var(--bnf);
        background: var(--yellow);
        // border: rem(1) solid var(--yellow);
        svg {
          // color: var(--bnf);
          color: var(--white);
        }
        h3 {
          // color: var(--bnf);
          color: var(--white);
        }
        p {
          // color: var(--bnfText);
          color: var(--white);
        }
        button {
          // background: var(--bnf);
          // color: var(--white);
          color: var(--yellow);
          background: var(--white);
          border-color: var(--white);
        }
      }
      div {
        svg {
          // color: var(--white);
          color: var(--black);
        }
      }
      h3 {
        font-size: rem(18);
        font-weight: 700;
        margin-bottom: rem(0);
        // color: var(--white);
        color: var(--black);
        transition: 0.3s ease-in-out;
        text-align: center;
      }
      p {
        // color: var(--white);
        color: var(--contactBg);
        opacity: 0.7;
        font-size: rem(12);
        margin-bottom: rem(30);
        text-align: center;
        transition: 0.3s ease-in-out;
      }
      button {
        color: var(--black);
        background: transparent;
        border-color: var(--black);
        transition: 0.3s ease-in-out;
      }
    }
  }
  .servic-card_active {
    .servic-item {
      background: var(--yellow);
      // color: var(--white);
      h3{
        color: var(--white);
      }
      div{
        svg{
          color: var(--white);
        }
      }
      p{
        color: var(--white);
      }
      button{
        border-color: var(--white);
        color: var(--yellow);
        background: var(--white);
      }
    }
  }
}
