@import "../../App.scss";

.answer {
  padding: rem(60) 0;
  .answer_img {
    width: rem(600);
    height: rem(500);
    background: url(../../Images/img5.jpg) no-repeat center center;
    background-size: cover;
  }
  .answer-question {
    // background: #fafafa;
    h5 {
      font-size: rem(24);
      color: var(--orangeText);
      text-decoration-line: underline;
    }
    h2 {
      font-weight: bold;
      font-size: rem(44);
      color: var(--bnf);
      margin-bottom: rem(40);
    }
    .ans-collapse {
      h4 {
        font-size: rem(18);
        margin: 0 0 0 rem(10);
        span {
          // color: var(--yellow);
          font-weight: bold;
        }
      }
      .ans-panel {
        p {
          font-size: rem(15);
          span {
            font-weight: bold;
          }
        }
      }
    }
  }
}
