@import "../../App.scss";
$breakPointMobile: 600px;

@media only screen and (max-width: $breakPointMobile) {
  .answer {
    padding: rem(20) rem(10);
    .answer_img {
      height: rem(300);
      margin-bottom: rem(40);
    }
    .answer-question {
      h5 {
        font-size: rem(16);
      }
      h2 {
        font-size: rem(32);
        margin-bottom: rem(20);
      }
      .ans-collapse {
        h4 {
          font-size: rem(16);
        }
      }
      .ans-panel {
        padding-left: 0 !important;
        p {
          font-size: rem(14) !important;
        }
      }
    }
  }
}
