@import "../../App.scss";

.portfolio {
  padding: 0 0 rem(50) 0;
  .portfolio-title {
    width: 100%;
    text-align: center;
    // margin-bottom: rem(35);
    h5 {
      color: var(--yellowText);
      text-decoration-line: underline;
    }
    h1 {
      font-weight: bold;
      font-size: rem(46);
      color: var(--black);
    }
  }
  .portfolio-text {
    border-left: rem(2) solid var(--bnf);
    padding-left: rem(20);
    font-size: rem(14);
    line-height: rem(19);
    font-weight: 600;
    color: var(--contactText);
    span {
      display: block;
    }
  }
  .portfolio-img {
    overflow: hidden;
    width: rem(220);
    // height: rem(215);
    transition: 0.3s ease-in-out;
    // background: var(--orangeText);
    // padding: rem(10);
    margin-top: rem(30);
    .ant-image-mask-info {
      display: flex;
      align-items: center;
    }
    img {
      width: 100%;
      height: auto;
      transition: 0.3s ease-in-out;
    }
    &:hover {
      // padding: 0;
    }
  }
  .portfolio-btn {
    margin-top: rem(50);
    width: 100%;
    text-align: center;
    button {
      color: var(--orange);
      border-color: var(--orange);
      width: rem(220);
      height: rem(60);
      font-size: rem(18);
      font-weight: 600;
      transition: 0.3s ease-in-out;
      svg {
        transition: 0.3s ease-in-out;
        margin-left: rem(7);
        width: rem(20);
        height: rem(20);
      }
      &:hover {
        color: var(--white);
        background: var(--orange);
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }
}
