@import "../../App.scss";
$breakPointMobile: 600px;

@media only screen and (max-width: $breakPointMobile) {
  .portfolio {
    .portfolio-title {
      h1 {
        font-size: rem(36);
      }
      h5 {
        font-size: rem(16);
      }
    }
  }
}
