@import "../../App.scss";

.about {
  padding: rem(70) 0;
  background: rgba(176, 203, 31, 0.1);
  .about-img {
    width: rem(450);
    height: rem(400);
    overflow: hidden;
    div {
      background: url(../../Images/img4.jpg) no-repeat center center;
      background-size: cover;
      width: 100%;
      transition: 0.3s ease-in-out;
      height: 100%;
    }
    &:hover {
      div {
        transform: scale(1.06);
      }
    }
  }
  .about-info {
    h1 {
      font-size: rem(48);
      color: var(--black);
      line-height: 1;
      margin: 0 0 rem(10) 0;
      font-weight: bold;
    }
    h5 {
      font-weight: 600;
      font-size: rem(24);
      span {
        color: var(--orange);
        text-decoration-line: underline;
      }
    }
    p {
      span {
        color: var(--orangeText);
        margin: 0 rem(3);
        font-weight: bold;
      }
    }
    h6 {
      font-size: rem(14);
      line-height: 1.5;
      padding-left: rem(10);
      border-left: rem(4) solid rgba(0, 0, 0, 0.1);
      span {
        color: var(--orange);
        margin: 0 rem(3);
        font-weight: bold;
      }
    }
  }
}
.whyUs {
  padding: rem(70) 0 rem(30) 0;
  .whyLine {
    height: rem(5);
    margin-top: rem(50);
    width: 100%;
    background-image: linear-gradient(
      to right,
      #96267d,
      #d5605a,
      #d4c438,
      #8dbc64,
      #38ad9c
    );
  }
  .whyCard {
    display: flex;
    flex-direction: column;
    width: rem(360);
    padding: rem(20);
    height: rem(280);
    align-items: center;
    text-align: center;
    transition: 0.3s ease-in-out;
    // justify-content: center;
    position: relative;
    z-index: 1;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      height: 0;
      transition: 0.3s ease-in-out;
      // background: rgba(176, 203, 31, 0.1);
      background: var(--orange);
      z-index: -1;
    }
    &:hover::before {
      height: 100%;
    }
    &:hover {
      svg {
        color: var(--white);
      }
      h3 {
        color: var(--white);
      }
      p {
        color: var(--white);
        opacity: 0.8;
      }
    }
    svg {
      height: rem(40);
      width: rem(40);
      margin: rem(20) 0;
      color: var(--orange);
      transition: 0.3s ease-in-out;
    }
    h3 {
      font-weight: bold;
      transition: 0.3s ease-in-out;
      font-size: rem(22);
    }
    p {
      font-size: rem(14);
      transition: 0.3s ease-in-out;
    }
  }
  .wCardActive {
    background: var(--orange);
    svg {
      color: var(--white);
    }
    h3 {
      color: var(--white);
    }
    p {
      color: var(--white);
      opacity: 0.8;
    }
  }
}
