@import "../../App.scss";
$breakPointMobile: 600px;

@media only screen and (max-width: $breakPointMobile) {
  .about {
    padding: rem(50) rem(10) rem(20) rem(10);
    background: var(--white);
    .about-img{
      height: rem(200);
    }
    .about-info {
      h1 {
        font-size: rem(32);
      }
      h5 {
        font-size: rem(20);
      }
      h6 {
        margin-top: rem(20);
      }
    }
    .about-img {
      margin-top: rem(20);
    }
  }
  .whyUs{
    padding-top: 0;
    .whyCard {
        align-items: center;
    }
  }
}
