@import "../../App.scss";

.home {
  .container-fluid {
    padding: 0;
  }
  .home-line {
    width: 100%;
    height: rem(15);
    background-image: linear-gradient(
      to right,
      #96267d,
      #d5605a,
      #d4c438,
      #8dbc64,
      #38ad9c
    );
  }
  .swiper {
    .swiper-pagination-bullet {
      background: var(--yellow);
    }
  }
  .home-slider {
    height: 100vh;
    .home-info {
      h5 {
        font-size: rem(24);
        font-weight: 500;
        line-height: 1.1;
        color: var(--yellow);
        position: relative;
        &::before {
          position: absolute;
          content: "";
          height: rem(5);
          background: var(--yellowText);
          width: rem(80);
          bottom: rem(-10);
        }
      }
      h1 {
        margin-top: rem(40);
        font-size: rem(44);
        line-height: 1;
        color: var(--black);
        font-weight: bold;
        span {
          display: block;
        }
      }
      p {
        margin-bottom: rem(40);
        span {
          display: block;
          font-size: rem(17);
        }
      }
      button {
        color: var(--white);
        border-color: var(--bnf);
        background: var(--bnf);
        border-radius: rem(50);
        width: rem(203);
        height: rem(56);
        transition: 0.3s ease-in-out;
        font-weight: 600;
        &:hover {
          background: transparent;
          color: var(--bnf);
        }
      }
    }
    .home-img {
      background: url(../../Images/img2.jpg) no-repeat center center;
      background-size: cover;
      width: rem(528);
      height: rem(365);
    }
    .home-img2 {
      background: url(../../Images/img3.jpg) no-repeat center center;
      background-size: cover;
    }
  }
  .h_slide1 {
    background: url(../../Images/img1.jpg) no-repeat center center;
    background-size: cover;
    opacity: rem(10);
    background-attachment: fixed;
    .h_whiteBg {
      padding: 0 rem(30);
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.8);
    }
  }
}
