@import "../../App.scss";
$breakPointMobile: 600px;

@media only screen and (max-width: $breakPointMobile) {
  .home {
    // height: 100vh !important;
    .home-line {
      height: rem(5);
    }
    .home-slider {
      height: 60vh;
      .home-img,
      .home-img2 {
        display: none;
      }
      .home-info {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 50vh;
        h5 {
          margin-top: rem(0);
          width: max-content;
          border-bottom: rem(3) solid var(--yellowText);
          &::before {
            left: 45%;
            display: none;
          }
        }
        h1 {
          font-size: rem(24);
          margin: rem(10) 0 0 0;
          span {
            display: inline;
          }
        }
        p {
          padding-top: rem(15);
        }
      }
    }
  }
}
