@import "../../App.scss";

.contact {
  background: var(--contactBg);
  padding: rem(70) 0 rem(30) 0;
  h2 {
    color: var(--white);
    font-size: rem(44);
    font-weight: 600;
    margin-bottom: rem(40);
    text-decoration-line: underline;
  }
  .contact-info,
  .contact-link {
    h5 {
      color: var(--white);
      font-size: rem(22);
      line-height: 200%;
      margin: 0;
    }
    p {
      color: var(--contactText);
      font-size: rem(17);
      margin: 0;
      line-height: 200%;
      // text-decoration: underline;
      span {
        display: block;
      }
    }
    a {
      display: block;
      line-height: 200%;
      font-size: rem(17);
      color: var(--contactText);
    }
  }
  .footer {
    width: 100%;
    text-align: center;
    margin-top: rem(30);
    padding-top: rem(30);
    border-top: rem(1) solid var(--contactText);
    p {
      margin: 0;
      color: var(--contactText);
      opacity: 0.6;
    }
  }
}
