@import "../../App.scss";

.navbar {
  // height: rem(75);
  // border-bottom: rem(1) solid black;
  padding: 0;
  margin: 0;
  .nav-element {
    width: 100%;
    .nav-brand {
      img {
        height: rem(27);
        width: rem(140);
      }
    }
    .nav-link {
      display: flex;
      height: rem(75);
      padding: 0;
      a {
        color: var(--orange);
        height: 100%;
        margin: 0 rem(20);
        font-size: rem(15);
        color: var(--black);
        font-weight: bold;
        transition: 0.3s ease-in-out;
        padding: 0 rem(25);
        &:hover {
          color: var(--white);
          background: var(--orangeText);
        }
        &:nth-child(2) {
          &:hover {
            background: var(--bnfText);
          }
        }
        &:nth-child(3) {
          &:hover {
            background: var(--yellowText);
          }
        }
        &:nth-child(4) {
          &:hover {
            background: var(--orange);
          }
        }
      }
    }
    .langBtn {
      width: rem(100);
      font-weight: 600;
      border-color: var(--bnfText);
      color: var(--bnf);
      &:hover {
        border-color: var(--bnfText);
        color: var(--bnf);
      }
    }
    .mobileLink{
      display: none;
    }
  }
}
