@import "../../App.scss";
$breakPointMobile: 600px;

@media only screen and (max-width: $breakPointMobile) {
  .navbar {
    padding: rem(15) rem(10);
    .container {
      .mobileLink {
        display: block;
        .ant-btn-default {
          border: 0 !important;
          padding: 0 !important;
        }
        .ant-drawer {
          .ant-drawer-content-wrapper {
            .ant-drawer-content {
              .ant-drawer-wrapper-body {
                .ant-drawer-header {
                  .ant-drawer-header-title {
                    .ant-drawer-title {
                      font-weight: 800 !important;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .nav-link {
        display: none;
      }
      .langBtn {
        display: none !important;
      }
    }
  }
}
