@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
}

:root {
  --bnf: rgb(155, 33, 109);
  --bnfText: rgb(196, 81, 152);
  --orange: rgb(239, 127, 26);
  --orangeText: rgb(254, 205, 18);
  --yellow: rgb(80, 145, 51);
  --yellowText: rgb(176, 203, 31);
  --black: #0c0a0a;
  --white: #fff;
  --blue: #54b9fd;
  --contactBg: #1f2c37;
  --contactText: #a3abb2;
  --serviceBg: #f4f5f9;
}

$BASE_BODY_FONT_SIZE: 16;
@function rem($pixels) {
  @return ($pixels/$BASE_BODY_FONT_SIZE) + rem;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  scrollbar-width: 0;
  -moz-appearance: none !important;
}
body::-webkit-scrollbar {
  width: rem(7);
  border-left: rem(1) solid rgba(196, 81, 152, 0.4);
  display: none;
}
body::-webkit-scrollbar-button {
  display: none;
}
body::-webkit-scrollbar-thumb {
  border-radius: rem(1);
  background: var(--bnfText);
}

a {
  text-decoration: none;
}

.jcCenter {
  display: flex;
  justify-content: center;
}
.jcBetween {
  display: flex;
  justify-content: space-between;
}
.jcAround {
  display: flex;
  justify-content: space-around;
}
.jcEvenly {
  display: flex !important;
  justify-content: space-evenly !important;
}
.jcEnd {
  display: flex;
  justify-content: flex-end;
}
.alignCenter {
  align-items: center;
}
.flexColumn {
  flex-direction: column;
}
.dn {
  display: none;
}
.ant-back-top {
  // color: rgba(80, 145, 51, .5);
}

.line {
  height: rem(5);
  margin-top: rem(50);
  width: 100%;
  background-image: linear-gradient(
    to right,
    #96267d,
    #d5605a,
    #d4c438,
    #8dbc64,
    #38ad9c
  );
}
.trEase {
  transition: 0.3s ease-in-out;
}

.ant-drawer {
  .ant-drawer-content-wrapper {
    .ant-drawer-content {
      .ant-drawer-wrapper-body {
        .ant-drawer-header {
          .ant-drawer-header-title {
            .ant-drawer-title {
              font-weight: 600 !important;
            }
          }
        }
        .ant-drawer-body {
          a {
            display: block;
            margin-bottom: rem(20);
            font-size: rem(20);
            width: max-content;
          }
        }
      }
    }
  }
}

.ant-collapse-header {
  padding-left: 0 !important;
}
.ant-image-preview-wrap {
  width: 100% !important;
  height: 100% !important;
}
